In [4]:
import re

In [27]:
# A) Metacharacter '.'
# find any characters in a string (including spaces) except new line

In [10]:
sentence1 = re.findall (r'.', 'I am learning text analytics') 
print (sentence1) 
 
# Each letter is selected including spaces except new line

['I', ' ', 'a', 'm', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 't', 'e', 'x', 't', ' ', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [28]:
# B) Metacharacter '\w'
# Find any single character in a string (exclude spaces) except new line and spaces

In [11]:
sentence2 = re.findall (r'\w', 'I am learning text analytics') 
print (sentence2) 
 
# Each letter is selected excluding spaces except new line

['I', 'a', 'm', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 't', 'e', 'x', 't', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [29]:
# C) Metacharacter '\w*'
# Matches any characters with zero (0) or more characters in a string including spaces

In [15]:
sentence3 = re.findall (r'\w*', 'I am learning text analytics') 
print (sentence3) 
 
# Each word is selected including spaces

['I', '', 'am', '', 'learning', '', 'text', '', 'analytics', '']

In [30]:
# D) Metacharacter '\w+'
# Matches one (1) or more characters in a string excluding spaces

In [17]:
sentence4 = re.findall (r'\w+', 'I am learning text analytics') 
print (sentence4) 
 
# Each word is selected excluding spaces

['I', 'am', 'learning', 'text', 'analytics']

In [31]:
# E) Metacharacter '^\w+'
# Find the first word in a string

In [19]:
sentence5 = re.findall (r'^\w+', 'I am learning text analytics') 
print (sentence5) 
 
# First word is selected

['I']

In [32]:
# F) Metacharacter '\w+$'
# Find the last word in a string

In [21]:
sentence6 = re.findall (r'\w+$', 'I am learning text analytics') 
print (sentence6) 
 
# Last word is selected

['analytics']

In [33]:
# G) Metacharacter '\w\w'
# Find any two (2) cosecutive characters

In [24]:
sentence7 = re.findall (r'\w\w', 'I am learning text analytics') 
print (sentence7) 
 
# 2 consecutive characters are selected

['am', 'le', 'ar', 'ni', 'ng', 'te', 'xt', 'an', 'al', 'yt', 'ic']

In [34]:
# H) Metacharacter '\b\w\w'
# Find two (2) consecutive characters in a string

In [26]:
sentence8 = re.findall (r'\b\w\w', 'I am learning text analytics') 
print (sentence8) 
 
# 2 consecutive characters in a string are selected

['am', 'le', 'te', 'an']

In [63]:
sentence13 = re.findall (r'\d{2}-\d{2}-\d{2}(\d{2})', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence13) 
 
# To display the date in the format of dd-mm-yy or yy

['01', '00']

In [64]:
from datetime import datetime

sentence15 = re.findall (r'(\d{2}-\d{2}-\d{4})', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
formatted_dates = [datetime.strptime(match, '%d-%m-%Y').strftime('%d-%m-%y') for match in sentence15]
print(formatted_dates)

['15-05-01', '20-08-00']