In [1]:
import re

In [25]:
# A)

In [2]:
# re.match() => to check for a match at the beginning of a string

sentence1 = re.match(r'I', 'I am learning text analytics')
print (sentence1)

<re.Match object; span=(0, 1), match='I'>

In [3]:
# The output shows a match because the letter 'I' is at the beginning of the string

In [4]:
sentence2 = re.match(r'y', 'I am learning text analytics')
print(sentence2)

None

In [5]:
# The output shows NONE because the letter 'v' does not exist at the beginning of the string

In [10]:
sentence3 = re.match(r'am', 'I am learning text analytics')
print(sentence3)

None

In [8]:
# The output shows NONE because the word 'am' does not exist at the beginning of the string

In [26]:
# B)

In [17]:
# re.search() => to check for a match regardless of the location
# both re.match() & re.search() will return the first match found only

sentence4 = re.search(r'am', 'I am learning text analytics')
print(sentence4)

<re.Match object; span=(2, 4), match='am'>

In [18]:
# the output shows a MATCH because the word 'am' exist in the string

In [19]:
sentence5 = re.search(r'am', 'I am learning text analytics and am enjoying it')
print(sentence5)

<re.Match object; span=(2, 4), match='am'>

In [20]:
# The output is similar with previous example eventhough there are 2 'am' in the string
# However, re.search() only returns the first match of 'am' in the string

In [27]:
# C)

In [21]:
#re.findall() => to find all of the match in a string

sentence6 = re.findall(r'am', 'I am learning text analytics and am enjoying it')
print(sentence6)

['am', 'am']

In [22]:
# The output shows ['am', 'am'] because there are two (2) 'am' in the string

In [28]:
# D)

In [23]:
# re.split() => to split a string by the match of a given pattern

sentence7 = re.split(r'and', 'I am learning text analytics and am enjoying it')  
print (sentence7)

['I am learning text analytics ', ' am enjoying it']

In [24]:
# The string is split into two (2) by the pattern 'and'

In [29]:
sentence8 = re.split(r'am', 'I am learning text analytics and am enjoying it')  
print (sentence8)

['I ', ' learning text analytics and ', ' enjoying it']

In [30]:
# The string is split into three (3) by the pattern 'am'

In [31]:
sentence9 = re.split(r'am', 'I am learning text analytics and am enjoying it', maxsplit=1) 
print (sentence9)

['I ', ' learning text analytics and am enjoying it']

In [33]:
# By including the argument maxsplit = 1 (default value is zero), 
# the string is split into two (2) by the first occurrence of 'am'

In [34]:
sentence9 = re.split(r'am', 'I am learning text analytics and am enjoying it', maxsplit=2) 
print (sentence9)

['I ', ' learning text analytics and ', ' enjoying it']

In [35]:
# By including the argument maxsplit = 2 (default value is zero), 
# the string is split into three (3) by the first two occurrences of 'am'

In [36]:
sentence10 = re.split(r'am', 'I am learning text analytics, I am enjoying it and I am going to ace it', maxsplit=3) 
print (sentence10)

['I ', ' learning text analytics, I ', ' enjoying it and I ', ' going to ace it']

In [37]:
# By including the argument maxsplit = 3 (default value is zero), 
# the string is split into four (4) by the first three occurrences of 'am'

In [38]:
# E)

In [39]:
# re.sub() => to find the match of a given pattern in a string and replace with a new value

sentence11 = re.sub(r'I', 'we', 'I like text analytics and I enjoy learning it') 
print (sentence11)

we like text analytics and we enjoy learning it

In [40]:
# The word ' I ' is changed to 'we' and are replaced in two (2) occurrences